body {
    margin: 0px;
    padding: 0px;
    width: 100%;
    overflow: hidden;
}

#wrapper {
    margin: 0px auto;
    width: 100%;
    overflow: hidden;
}

#topImageContainer {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 0;
}

#bottomImageContainer {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: bottom left;
}

#btnOpenSiteContainer {
    position: absolute;
    background: transparent;
    border: 0px solid black;
    width: 100%;
    height: 100%;
    z-index: 30;
}

#siteBody {
    display: none;
}

header {
    width: 100%;
}

    header img {
        border: 0;
        display: block;
        width: 100%;
        height: 130px;
        z-index: 0;
    }

    header #logo {
        height: 80px;
        width: 220px;
        position: absolute;
        top: 1%;
        left: 2%;
    }

    header span {
      cursor: pointer;
    }

nav {
    float: right;
    text-align: right;
    width: 80%;
    margin-top: -67px;
    font-size: 1.4em;
    z-index:10;
}

    nav ul {
        float: right;
        text-align: right;
        width: 100%;
        position: relative;
    }

    nav li {
        float: right;
        width: 18%;
        height: 26px;
        color: white;
        background: rgb(0, 40, 40);
        background: -moz-linear-gradient(0deg, rgb(0, 40, 40) 0%, rgb(0, 132, 132) 100%);
        background: -webkit-linear-gradient(0deg, rgb(0, 40, 40) 0%, rgb(0, 132, 132) 100%);
        background: -o-linear-gradient(0deg, rgb(0, 40, 40) 0%, rgb(0, 132, 132) 100%);
        background: -ms-linear-gradient(0deg, rgb(0, 40, 40) 0%, rgb(0, 132, 132) 100%);
        background: linear-gradient(90deg, rgb(0, 40, 40) 0%, rgb(0, 132, 132) 100%);
        padding: 5px;
        cursor: pointer;
    }

        nav li:before {
            content: url('../images/Layout Design/Navigation Buttons/Nav_button_off.png');
            float: left;
            height: 100%;
            position:relative;
            top: 8px;
        }

        nav .selectedItem:before {
            content: url('../images/Layout Design/Navigation Buttons/Nav_button_on.png');
        }

main {
}

section {
    float: left;
    width: 70%;
    padding: 20px 0px 0px 4%;
}

aside {
    float: left;
    width: 20%;
    margin-left: 4%;
    border: 2px solid;
}

footer {
    width: 100%;
}

    footer img {
        width: 100%;
        height: 110px;
        z-index: 0;
    }

    footer #socialButtons {
        position: relative;
        float: right;
        top: 94px;
        right: 9.3%;
        z-index: 1000;
    }

    footer #softUniIcon {
        position:relative;
        top: -5px;
        left: 2px;

    }

    footer #socialButtons img {
        width: 30px;
        height:auto;
        margin-left:1px;
    }

.clear {
    clear: both;
}

@media only screen and (max-width:900px) {
     header img {
        content: url('../images/Tablet-res/Tablet-res-header.png');
    }

     footer #backgroundFooter {
        content: url('../images/Tablet-res/Tablet-res-footer.png');
    }
    header #logo {
        height: auto;
        width: 70px;
        content: url('../images/Layout Design/Header/Logo.png');
    }

    nav li {
        padding-top: 10px;
        font-size: 0.8em;
        height: 21px;
    }

    nav li:before {
            top: 4px;
        }
}

@media only screen and (max-width:650px) {
    header img {
        content: url('../images/Mobile-res/Mobile-res-header.png');
    }

    footer #backgroundFooter {
        content: url('../images/Mobile-res/Mobile-res-footer.png');
    }
    header #logo {
        height: auto;
        width: 70px;
    }
    nav {
    float: none;
    text-align: center;
    width: 100%;
    margin-top: 0px;
    padding: 0px;
}

    nav ul {
        float: none;
        text-align: center;
        width: 100%;
        padding: 0px;
    }

    nav li {
        float:none;
        width: 100%;
        display: block;
        padding: 10px 5px 10px 5px;
        margin-top: 5px;
    }

     nav li:before {
            top: 5px;
        }

}

a {
    text-decoration: none;
    background-color: none;
    color: white;
}

/*video page*/


#galleryHeader {
    background-color: #000;
    color: #FFF;
    padding-left: 5%;
}

    #galleryHeader h1 {
        margin-top: 0px;
    }

#slider {
    border: none;
}

    #slider img {
        float: left;
    }

    #slider p {
        // float: right;
        position: relative;
        margin-left: 0px;
        color: #000;
        padding-left: 20px;
    }

#left-video {
    float: left;
    margin: 1%;
    border: none;
    background-color: #000;
    box-shadow: 5px 5px 5px #888888;
}

.center-right-video {
    float: right;
    margin: 1%;
    border: none;
    background-color: #000;
    box-shadow: 5px 5px 5px #888888;
}


#embed p {
    text-align: center;
    color: #FFF;
}

#best-videos {
    padding-bottom: 20px;
    float: left;
    width: 20%;
    margin-left: 2%;
    margin-top: 20px;
    border: 2px solid;
    text-align: center;
    background-color: #FE0000;
}

.aside-videos {
    margin-left: 4%;
    margin-top: 4%;
    box-shadow: 5px 5px 5px #888888;
}

#best-videos p {
    background-color: #000;
    color: #FFF;
    margin-left: 1%;
    margin-right: 1%;
}

@media only screen and (max-width:1250px) {
    section {
        width: 90%;
    }
}

/*music page*/

#music {
    padding: 40px;
    width: 95%;
}

    #music article {
        margin-top: 30px;
        width: 100%;
    }

    #music .musicHeader {
        background-color: #000;
        color: #FFF;
        padding-left: 30px;
        margin-bottom: 20px;
    }

        #music .musicHeader h1 {
            padding: 5px;
        }

    #music h1 {
        padding: 0px;
        margin-top: 0px;
    }

    #music #image {
        float: left;
        margin-right: 25px;
        margin-top: 45px;
    }

    #music #text {
        padding: 20px;
    }

    #music a {
        color: blue;
    }

    #music .topContent {
        margin-top: -40px;
        padding: 30px;
    }
    #music .song {
        width: 95%;
        max-width: 500px;
        float: left;
        margin-left: 30px;
    }

    #music iframe {
        width: 100%;
        height: 281px;
        max-width: 500px;
    }

@media only screen and (max-width:600px) {
    #music iframe {
        max-width: 300px;
    }

    #music {
    padding: 10px;
}
}

/*index page*/
#musicSection {
     min-height: 260px;
}
#musicSection .image {
    width: 20%;
    min-width: 230px;
    float: left;
    margin-right: 20px;
}

    #musicSection .item {
        padding-left: 40px;
    }

#musicSection .text {
    width: 70%;
    float: left;
}

#musicSection .text p{
    width: 95%;
    float: left;
    max-width: none;
}

#musicSection #prevButton button{
    position: relative;
    top: 90px;
    background: none;
    padding: 5px;
    border: 0px;
    
}

#musicSection #nextButton button{
    position: relative;
    top: 60px;
    background: none;
    padding: 5px;
    border: 0px;
    float: right;
}



#videosSection {
    margin-top: 40px;
}

 .video {
    width: 300px;
    float: left;
    margin-left: 10px;
    border: none;
    background-color: #000;
    box-shadow: 5px 5px 5px #888888;
    color: white;
    margin-top: 10px;
}

     .video p {
        text-align:center;
    }

.title {
     background-color: #000;
     color: #FFF;
     padding: 0px 5px 0px 5px;
     margin: 0px;
     height: 35px;
}

    .title h1 {
        padding: 0px;
    }

@media only screen and (max-width:1250px) {
    #best-videos {
        display:none;
    }

    #indexContent {
        width:95%;
    }
}

/*Bloopers Page*/

#bloopersContent {
    padding: 40px;
    width: 95%;
}



#bloopersContent .singleBlooper{
    float: left;
    width: 95%;
    max-width: 390px;
    margin-left: 10px;
    margin-top: 10px;
    height: 450px;
    border: 1px solid #b8b8b8;
    padding: 5px;
}

#bloopersContent h1 {
    text-align:left;
    background-color: black;
    color: white;
    padding-left: 20px;
    font-size: 1.4em;
}

#bloopersContent img {
    width: 95%;
    
}

#bloopersContent .image{
    max-width:600px;
    margin: 0px auto;
    //border-bottom: 1px solid #b8b8b8;
    padding: 10px;
}

@media only screen and (max-width:650px) {
    #bloopersContent {
    padding: 5px;
}
}

/*pictures page*/
#picturesDivWrapper {
	width: 70%;
	margin: 20px 35px 20px 35px;
	-webkit-box-shadow: 6px 7px 0px -4px rgba(57,57,57,1);
	-moz-box-shadow: 6px 7px 0px -4px rgba(57,57,57,1);
	box-shadow: 6px 7px 0px -4px rgba(57,57,57,1);
	float: left;
}

	#picturesDivHeader {
		height: 30px;
		background: black;
		font-size: 25px;
		color: white;
		padding-left: 30px;
		margin-bottom: 15px;
	}
	#picturesDiv {
		width: 95%;
		margin-left: 30px;
	}
	#picturesDivFooter {
		height: 30px;
		background: #393939;
		padding-left: 30px;
		margin-top: 15px;
	}

#picturesAsideWrapper {
	width: 20%;
	height: 780px;
	margin: 20px 35px 20px 0;
	-webkit-box-shadow: 6px 7px 0px -4px rgba(57,57,57,1);
	-moz-box-shadow: 6px 7px 0px -4px rgba(57,57,57,1);
	box-shadow: 6px 7px 0px -4px rgba(57,57,57,1);
	float: left;
	background: #FE0000;
}

	#picturesAsideHeader {
		height: 30px;
		background: black;
		font-size: 25px;
		color: white;
		padding-left: 30px;
		margin-bottom: 15px;
	}
	#picturesAsideContent {
		width: 90%;
		height: 100px;
		margin: 0 10px 20px 10px;
		border: 2px solid black;
		border-right: 4px solid black;
		border-top: 3px solid black;
		border-top-right-radius: 10px;
	}

@media only screen and (max-width:1100px) {
    #picturesAsideWrapper {
        display: none;
    }

    #picturesDivWrapper {
        width: 90%;
    }
}



/*Words Page*/

#words{
    height: auto;
    padding: 30px;
     width: 95%;
    max-width: 600px;
}

#words img{
    width: 100%;
    max-width: 600px;
}

#words h3{
    width: 100%;
    max-width: 600px;
}

/*empty by request - Valentin*/

#empty{
    height: 20px;   
}

/*new*/

#wordsContainer aside img{
    width: 200px; 
    margin-top: 10px;
}
